# Dictionaries

In [2]:
dict = {"Key":"value"}

In [3]:
dict

{'Key': 'value'}

In [4]:
dict.keys

In [5]:
dict.keys()

dict_keys(['Key'])

In [6]:
dict.values()

dict_values(['value'])

In [12]:
dict["Key"] = "Hello"
dict

{'Key': 'Hello'}

In [15]:
dict["Key"]

'Hello'

In [23]:
import pandas as pd

In [29]:
stateInfo = {'Colorado': 
            {'Population': 5812000,
            'Capital': 'Denver',
            'Founded': 'Feb. 28, 1861'},
             
            'North Dakota':
            {'Population':774948,
            'Capital':'Bismarck',
            'Founded': 'Nov. 2, 1889'}}
stateInfo = pd.DataFrame(stateInfo).T #transpose, evaluate as DataFrame and assign to variable

In [28]:
stateInfo

             Population   Capital        Founded
Colorado        5812000    Denver  Feb. 28, 1861
North Dakota     774948  Bismarck   Nov. 2, 1889

In [ ]:
stateInfo.to_excel("")